@use 'sass:color';
// ===== COLOR
$color-principal: #6a5acd;
$color-principal-transparente: color.adjust($color-principal, $alpha: -0.4);
$color-secundario: color.adjust($color-principal, $lightness: -30%);

// ===== TRANSITION
$transition-time: 0.3s;

// ===== BOXES
$box-blur: 5px;
$box-border: 1px solid black;
$box-radius: 0.3em;
